@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #1f3744;
	--mainColorLight: #5767aa;
	--secondaryColor: #60AAD1;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	position: sticky;
	top: 0;
	z-index: 1;
}

header img {
	height: 3em
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.imgContainer {
	width: 100px;
	height: 100px;
	position: relative;
}

.imgContainer img {
	width: 100px;
	height: 100px;
}

.cartRight {
	flex: 1;
}

.cartWrapper {
	width: 90%;
	max-height: 300px;
	background-color: #333;
	padding: 50px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

.totalTextTitle {
	margin-right: 10px;
}

.cartButton {
	height: 30px;
	color: #a3ca2f;
	font-weight: bold;
	cursor: pointer;
	margin-top: 20px;
}

.cartLeftDiv {
	flex: 2;
}

.orderContainer {
	padding: 50px;
	display: flex;
}

.orderLeft {
	flex: 2;
}

.orderRight {
	flex: 1;
}

.orderButton {
	background-color: white;
	height: 30px;
	color: teal;
	font-weight: bold;
	margin-top: 20px;
	cursor: not-allowed;
}

.orderTable {
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
}

.rows:last-child {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.done {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inProgress {
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.undone {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0.3;
}

.undone .checked,
.inProgress .checked {
	display: none;
}

.addCartButton {
	height: 30px;
	margin-left: 10px;
	background-color: #333;
	color: white;
	border: none;
	font-weight: 500;
	cursor: pointer;
}

/* .products {
	margin: 20px auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #a3ca2f;
	border-radius: 5px;
} */
/* 
.cards {
	width: 300px;
	height: 400px;
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
	margin: 40px 20px;
	background-color: white;
} */

.product-image {
	width: 100%;
	max-width: 300px;
	min-height: 200px;
	display: block;
	object-fit: cover;
}

.product-name {
	text-transform: uppercase;
	margin: 10px 0px;
}

.product-price {
	margin: 10px 0px;
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 30px;
}

.add-food-btn {
	background-color: transparent;
	color: tint(#a3ca2f());
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: block;
	border: 1px solid #a3ca2f;
	overflow: hidden;
	width: 250px;
	margin: 1rem auto;
	text-transform: uppercase;
}

.add-food-btn:hover {
	background-color: #738A05;
}


.add-category-btn {
	left: 10%;
	background-color: transparent;
	color: tint(#1f3744());
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: block;
	border: 1px solid #1f3744;
	overflow: hidden;
	width: 250px;
	margin: 1rem auto;
	text-transform: uppercase;
}

.add-category-btn:hover {
	background-color: #182b36;
	color: white;
}

.food-form-container {
	font-family: 'Roboto';
	width: 100%;
	margin: 30px auto 0;
	display: block;
	background: #FFF;
	padding: 10px 50px 50px;
}

.food-form-h5 {
	text-align: center;
	margin-bottom: 50px;
}

.food-form {
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
}

.group {
	position: relative;
	margin-bottom: 45px;
}

.form-input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid #757575;
}

.form-input:focus {
	outline: none;
}

.form-footer-button {
	background-color: transparent;
	color: tint(#a3ca2f());
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: block;
	border: 1px solid #a3ca2f;
	overflow: hidden;
	width: 250px;
	margin: 1rem auto;
	text-transform: uppercase;
}


label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.form-input:focus~label,
.form-input:valid~label {
	top: -20px;
	font-size: 14px;
	color: #5264AE;
}

.bar {
	position: relative;
	display: block;
	width: 300px;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264AE;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

.form-input:focus~.bar:before,
.form-input:focus~.bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.form-input:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from {
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}


.productBody{
	
    min-height: 100vh;
    display: grid;
    place-content: center;
	columns: 2 auto;
}

.theProductsContainer{
    width: 80vw;
    height:80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


.product{
    position: relative;
    background-color: #f7f6f9;
    width: 350px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
.product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:100%;
    height: 60%;
    display: grid;
    place-content: center;
}
.image img{
    width: 240px;
}

.namePrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.namePrice h3{
    font-size: 2em;
    text-transform: capitalize;
    color: #1b2741;
}
.namePrice span{
    font-size: 1.5em;
    color: #f67034;
}

.product p{
    font-size: 18px;
    line-height: 25px;
}

.read{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.productButton{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.productButton button:hover{
    transform: scale(1.1);
}




.checkoutBody {
	text-align: center;
	font-family: Martel Sans;
	font-weight: 400;
	font-size: 14px;
	color: #283341;
	letter-spacing: 1.1px;
  }

  #checkout {
	display: inline-block;
	margin: 10px 0 50px;
	text-align: left;
	background-color: white;
	padding: 20px 40px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
  }

  
  #checkout h1{
	margin: 40px 0 20px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 0;
  }

  #checkout h2{
	text-align: center;
  }

  #checkout h3{
	margin-bottom: 0;
  }

  .block {
	margin: 25px auto;
  }

  .row {
	margin: 5px auto;
  }
  
  .padded{
	padding-right: 15px;
  }

  .column{
	display: flex;
  }

  .checkoutLabel, .checkoutInput{
	display: block;
  }
  
  .checkoutLabel{
	color: #41556C;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
  }

  .checkoutInput,
  .checkoutSelect {
  margin: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D3E0F1;
  padding: 3px 5px;
}


.checkoutButton {
	font-size: 16px;
	padding: 15px 25px;
	width: 200px;
	background-color: #2C7EA1;
	border: none;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1.15px;
	font-weight: 500px;
  }
  
  .checkoutButton:hover{
	background-color: lighten(80%);
  }

  hr{
	border-top: 1px solid #7187A5;
  margin: 0 0 25px 0;
}








@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

	header img {
		height: 30%;
	}

	#cdogs {
		width: 100%;
	}

	.menu-quick {
		text-align: center;
		/* background-color: lightgrey; */
		border-radius: 28px;
		/* box-shadow: 2px 2px; */
		box-shadow: 10px 20px 20px 0 #c9c9c9;
	}

	.btn-quantity-minus {
		font-weight: bold;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 20px;
	}

	.btn-quantity-plus {
		font-weight: bold;
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 20px;
	}

	.quantityDiv {
		/* white-space: nowrap; */
		/* display: inline-block; */
		display: flex;
		font-size: 20px;
		justify-content: center;
		/* margin: 150px; */
		/* align-items: center; */
		/* margin-right: 20em; */
	}

	.quantity {
		padding: 30px;
	}

	.ingredients h2 {
		text-align: left;
		padding: 15px;
	}

	.ingredients p {
		text-align: left;
		padding: 15px;
	}

	.imgContainer {
		width: 35vw;
		height: 35vw;
	}

	.imgContainer img {
		/* width: 50px;
		height: 50px; */

		margin-left: 20px;
	}

	.cartTable {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.cartTr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	.cartNameSpan,
	.cartTotalPriceSpan {
		font-size: 24px;
	}

	.cartPriceSpan,
	.cartQuantitySpan {
		font-size: 22px;
	}

	.cartWrapper {
		width: 100%;
		border-radius: 28px;
	}

	.cartPriceSpan::before {
		content: "Price: ";
		font-weight: 500;
	}

	.cartQuantitySpan::before {
		content: "Quantity: ";
		font-weight: 500;
	}

	.cartTotalPriceSpan::before {
		content: "Total: ";
		font-weight: 500;
	}

	.cartTr {
		display: none;
	}

	.cart-tr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	.cartContainer {
		flex-direction: column;
		padding: 20px;
	}

	.orderContainer {
		flex-direction: column;
	}

	.orderTr {
		display: none;
	}

	.order-tr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 20px;
	}

	.orderID::before {
		content: "Order ID: ";
		font-weight: 500;
	}

	.customerName::before {
		content: "Customer: ";
		font-weight: 500;
	}

	.address::before {
		content: "Address: ";
		font-weight: 500;
	}

	.done,
	.undone,
	.inProgress {
		margin-bottom: 20px;
	}

	.rows:last-child {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.addCartButton {
		height: 50px;
		padding: 10px 20px;
	}

}



/* Footer CSS */

.footer-wrapper {
	margin: 6rem 0rem;
	display: flex;
	margin-top: 10rem;
  }

.footer-logo-container {
	max-width: 110px;
  }

  .footer-icons {
	margin-top: 2.5rem;
  }

  .footer-icons svg {
	font-size: 1.5rem;
	margin-right: 1.25rem;
	color: #585858;
  }

  .footerImg{
	width: 10rem;
  }

  .footer-section-two {
	flex: 1;
	display: flex;
	justify-content: flex-end;
  }
  .footer-section-columns {
	display: flex;
	flex-direction: column;
	min-width: 190px;
  }
  .footer-section-columns span {
	margin: 0.25rem 0rem;
	font-weight: 600;
	color: #4c4c4c;
	cursor: pointer;
  }

  /* Subscription Payment */


.payment-body{
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	position: relative;
	width: 100%;
	/* height: 100%; */
	padding: 0px;
	margin: 0px;
	background: #f9f0c1;
	overflow: hidden;
}


.payment-card {
	width: 320px;
	min-height: 400px;
	margin: 60px auto;
	border-radius: 10px;
	background: white;
	border: 2px solid black;
}

.payment-card .payment-card-header {
	width: 100%;
	height: 156px;
	border-radius: 10px 10px 0px 0px;
}
  
.payment-card .payment-card-header img {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
  
.payment-card .payment-card-body {
	width: 100%;
	height: auto;
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.payment-card .payment-card-body .payment-card-title {
	width: 100%;
	font-weight: 900;
	color: #D97A07;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
}
.payment-card .payment-card-body .card-text {
	width: 100%;
	color: #F2BC1B;
	text-align: center;
	line-height: 25px;
	padding: 15px 0px;
	box-sizing: border-box;
}

.payment-card .payment-card-body .payment-card-plan {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 15px;
	background: #F2CE16;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
}
.payment-card .payment-card-body .payment-card-plan .payment-card-plan-img {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.payment-card .payment-card-body .payment-card-plan .payment-card-plan-img img {
	width: 50px;
}

.payment-card .payment-card-body .payment-card-plan .payment-card-plan-text {
	flex-grow: 6;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}
.payment-card .payment-card-body .payment-card-plan .payment-card-plan-text .payment-card-plan-title {
	color: #D97A07;
	font-weight: 900;
	font-size: 14px;
}
.payment-card .payment-card-body .payment-card-plan .payment-card-plan-text .payment-card-plan-price {
	color: #4a3700;
	font-size: 14px;
}

.payment-card .payment-card-body .payment-card-plan .payment-card-plan-link a:hover {
	color: #dca80f;
	text-decoration: none;
}
.payment-card .payment-card-body .card-payment-button {
	padding: 25px 0px 15px;
	box-sizing: border-box;
}
.payment-card .payment-card-body .card-payment-button button {
	width: 100%;
	height: 50px;
	border: 0;
	color: #dca80f;
	font-weight: 700;
	border-radius: 10px;
	box-shadow: 0px 10px 20px 0px hsl(245deg 75% 52% / 44%);
	cursor: pointer;
}
.payment-card .payment-card-body .card-payment-button button:hover {
	background: #dca80f;
	color: white;
}
.payment-card .payment-card-body .card-cancel-button {
	padding: 15px 0px;
	box-sizing: border-box;
}
.payment-card .payment-card-body .card-cancel-button button {
	width: 100%;
	border: 0;
	background: none;
	color: #F2BC1B;
	font-weight: 900;
	text-align: center;
	cursor: pointer;
}
.payment-card .payment-card-body .card-cancel-button button:hover {
	color: #D97A07;
}

.adminCatDelete{
	cursor: pointer;
}


.tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	opacity: 0.9;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }

  .verifiedTooltip:hover .tooltiptext {
	visibility: visible;
  }












  .cookContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
  }
  
  .cookWrapper {
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
  }

  .bookNow {
	position: absolute;
	top: 10px;
	right: 0;
	border: none;
	padding: 10px 20px;
	background-color: #1f3744;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .cookName {
	font-size: 24px;
  }

  .cookFoodImages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .cookFoodImgWrapper {
	width: 33%;
  }
  
  .cookFoodlImg {
	width: 100%;
	object-fit: cover;
	cursor: pointer;
  }



  .booking {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.418);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .bookingContainer {
	background-color: white;
	padding: 50px;
	position: relative;
	margin-top: 50px;
	width: 30em;
	height: 15em;
  }
  
  .bookingClose {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
  }
  
  .rItem {
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 20px;
  }
  
  .rInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
  }
  
  .rTitle {
	font-weight: 500;
  }
  
  .rDesc {
	font-weight: 300;
  }
  
  .rMax {
	font-size: 12px;
  }
  
  .rPrice {
	font-weight: 500;
  }
  
  .selectFood{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	font-size: 8px;
	color: gray;
  }
  
  .food{
	display: flex;
	flex-direction: column;
  }
  
  .rButton {
	border: none;
	padding: 10px 20px;
	background-color: #1f3744;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
	margin-top: 20px;
  }
  #viewcooksBG
  {
	width: 20em;
	height: 30em;
	background-color: #ff523b;
  }
  


.cookImage{
	width: 15em;
	height: 10em;
}

.cookImageDiv{
	width: 15em;
	height: 10em;
	overflow: hidden;
}

.cookImageTd{
	width: 15em;
	height: 10em;
	padding-right: 1em;
}


.cooksList1{
	width: 50em;
	height: 80em;
	background-color: orange;
	margin: auto;
}

.cooksListTable{

	background-color: whitesmoke;
	color: #1f3744;
	font-family: "Titilium Web";
	font-size: 15pt;
	width: 50em;
	/* height: 80em; */
	/* padding-top: 2em; */
	margin: auto;
	
	
}


.customerImage{

	border-radius: 50%;
	margin-right: 1em;
	width: 2em;
	height: 2em;
}

.desc{
	text-align: justify;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: .5em;
}

.reviewHeader{
	text-align: left;
	margin-left: 2em;
	margin-top: 2em;
}

.starRatings{
	text-align: left;
	margin-left: 2em;
	margin-top: 1em;
	color: #fcb70c;
}

.starRatings2{
	color: #fcb70c;
}

.reviewTableRow{
	margin-top: 5em;
}

.ReviewTableBody{
	margin-bottom: 5em;
}