.booking-container{
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
}

table {
    /* position: absolute; */
    z-index: 2;
    /* left: 30%;
    top: 85%; */
    margin-left: 27em;
    margin-top: 5em;
    transform: translate(-50%,-50%);
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    /* overflow: hidden; */

}