/* table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  thead {
    background-color: #ddd;
    font-weight: bold;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td:last-child {
    text-transform: capitalize;
  } */


  .container {
    display: flex;
    flex-wrap: wrap;
  }

  table {
    /* position: absolute; */
    z-index: 2;
    /* left: 30%;
    top: 85%; */
    margin-left: 50em;
    margin-top: 20em;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    /* overflow: hidden; */

}

td , th{
    padding: 15px 20px;
    text-align: center;
    
   
   }
   th{
    background-color: #1f3744;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }

   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }