/* /* .sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  } */



/* .admin-sidebar-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #fff;
    border-right: 1px solid #e6e5e5;
    transition: all 0.5s ease;
  }
  
  .sidenav {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidenav li{
    list-style: none;
  }

  .sidenav li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
    list-style: none;
  }

  .nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #3A3B3C;
    text-decoration: none;
    list-style: none;
}

.nav-links li a:hover .link-name{
    color: #0E4BF1;
    text-decoration: none;
    list-style: none;
}

.sidenav li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #707070;    
  transition: all 0.5s ease;
  text-decoration: none;
  list-style: none;
}

.sidenav .logout-mode{
  padding-top: 10px;
  border-top: 1px solid #4D4C4C;
} */

  /* .sidenav .nav-list .nav-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px 0;
  }

  .sidenav .nav-list .nav-link:hover {
    background: #af2d2d;
  }

  .sidenav .nav-list .nav-link span {
    animation: navLinksFade 0.8s forwards;
    margin-left: 30px;
  } */
  

  /* .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }
  
  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  } */
  















  .admin-sidenav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #FFF;
    border-right: 1px solid #e6e5e5;
    transition: all 0.5s ease;
}

.admin-sidenav .menu-items{
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li{
  list-style: none;
}
.menu-items li a{
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before{
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #0E4BF1;
}

.menu-items li a i{
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}
.menu-items li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #707070;    
  transition: all 0.5s ease;
}

.nav-links li a:hover .link-name{
    color: #0E4BF1;
}

.menu-items .logout-mode{
  padding-top: 10px;
  border-top: 1px solid #e6e5e5;
}

.admin-sidenav .logo-name{
  display: flex;
  align-items: center;
}
.admin-sidenav .logo-image{
  display: flex;
  justify-content: center;
  min-width: 45px;
}
.admin-sidenavv .logo-image img{
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.admin-sidenav .logo-name .logo_name{
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: all 0.5s ease;
}
.admin-sidenav .logo_name{
  opacity: 0;
  pointer-events: none;
}